*
!.gitignore

!+material
!+material/**
!+phys
!+phys/**
!+plt
!+plt/**
!+ps
!+ps/**
!+rslt
!+rslt/**
!+tst
!+tst/**
!+util
!+util/**

!discharge
!discharge/ArSi_JF_averaged
!discharge/ArSi_JF_averaged/**
!discharge/ArSi_JF_smoothed
!discharge/ArSi_JF_smoothed/**

!doc
!doc/**

!parameters
!parameters/**

!pre-cal
!pre-cal/Ec
!pre-cal/Ec/argon/
!pre-cal/Ec/argon/**
!pre-cal/Ec/neon/
!pre-cal/Ec/neon/**
!pre-cal/Ec/create_Ec_ion_cost_Si.m
!pre-cal/Ec/create_Ec.m
!pre-cal/Ec/Ec_ArSi.mat
!pre-cal/Ec/sixx.m
!pre-cal/Ec/TelEc.mat
!pre-cal/Ec/TelEcAr
!pre-cal/Ec/TelEcSi
!pre-cal/Ec/TelEcSi_half

!pre-cal/Secondary_e_yield
!pre-cal/Secondary_e_yield/create_Gamma.m
!pre-cal/Secondary_e_yield/gamma_ArSi.mat

!pre-cal/Sputter_yield
!pre-cal/Sputter_yield/SiTUWien
!pre-cal/Sputter_yield/SiTUWien/**
!pre-cal/Sputter_yield/CrTUWien
!pre-cal/Sputter_yield/CrTUWien/**
!pre-cal/Sputter_yield/create_Yield.m
!pre-cal/Sputter_yield/Yield_ArSi.mat

!pre-cal/create_Precal.m
!pre-cal/run_precal.m
!pre-cal/Precal_ArSi.mat

!scripts
!scripts/**
!species_reactions
!species_reactions/add_reaction.m
!species_reactions/create_Rea_new.m
!species_reactions/create_reactions_new.m
!species_reactions/create_Spe_new.m
!species_reactions/create_species_new.m
!species_reactions/R_P_former_STR.m
!species_reactions/ratecoeff.m
!species_reactions/Rea_ArSi.mat
!species_reactions/Spe_ArSi.mat

!adjustInput.m
!create_Input_fct.m
!create_output_folder.m
!import_data.m
!multirun_original.m
!multirun.asv
!multirun.m
!ODEfile.m
!panel_mode_single_run_Pfit_modified_fct.m
!panel_Pfit_fct.m
!README.md
!startup.m